*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}
.app-container {
  padding: 20px;
display: flex;
width: 100vw;
min-height: 100vh;
justify-content: space-between;
}

.app-header {
  /* font-size: 2rem; */
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.heading-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 500px;
}

.container {
  display: flex;
flex-direction: column;
  gap: 20px;
  width: 20%;
  min-height: 100vh;
}


.avaible-fields, .row-zone, .column-zone, .value-zone {
  background-color: #ffffff;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 80px;
  text-align: center;
  overflow-y: scroll;
  scrollbar-width: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.container strong {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #34495e;
}


.avaible-fields div, .row-zone div,  .column-zone div, .value-zone div{
  background-color: #3498db;
  color: white;
  width: 100%;
  padding: 6px 12px;
  border: none;
  margin: 1px;
  border-radius: 5px;
  cursor: grab;
  transition: background-color 0.2s ease-in-out;
}

.avaible-fields button:hover {
  background-color: #2980b9;
}

.pivot-table {
  overflow-x: auto;
  margin-top: 20px;
}

.pivot-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.pivot-table th,
.pivot-table td {
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 80px;
}

.pivot-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.pivot-table tr:nth-child(even) {
  background-color: #fafafa;
}
